<%@page_title='FAQ'%>
<h3>Я сделал заказ. Что делать дальше?</h3>
		<p>После размещения заказа с Вами свяжется наш специаллист. Он назовет сумму, которую нужно будет оплатить при получении товара. Если Вас эта сумма устраивает, мы выкупаем товар у продавца. По ходу доставки мы будем оповещать Вас о ходе выполнения заказа.</p>
		<h3>Мне пришло уведомление о том, что мой товар доставлен. Как я могу его получить?</h3>
		<p>Если Вы находитесь в Москве или Санкт-Петербурге, Вы можете забрать товар сами либо заказать доставку курьером. Если вы находитесь в любом другом городе России, мы договариваемся с Вами об удобной Вам форме доставки отдельно.</p>
		<h3>Как купить товар на ebay.com?</h3>
		<p>Все заботы, связанные с заказом товара на сайте ebay.com мы готовы взять на себя. Пришлите на <a href="mailto:support@ebaydostavka.ru">support@ebaydostavka.ru</a> название интересующей вас модели. После этого наши специалисты свяжутся с Вами и уточнят все основные характеристики товара. Если Вы уже выбрали конкретное предложение на ebay.com, пришлите нам ссылку на него.</p>
		<h3>Товар нужен мне очень срочно. Что делать?</h3>
		<p>Мы предлагаем специальную услугу "VIP доставка". Товар будет доставлен Вам в руки в течение 48 часов.</p>
		<h3>Зачем мне пользоваться услугами eBayDostavka.ru, если я могу заказать товар сам?</h3>
		<p>Кончено, мы не настаиваем на том, чтобы вы использовали наш сайт. Вы можете, если хотите, сами заказать что-либо из-за границы. Но тут Вы столкнётесь с рядом проблем. Во-первых, Вам придется совершить полную предоплату покупки с доставкой. Во-вторых, продавцы зачастую настаивают на каком-то, им удобном способе оплаты, который может быть недоступен в России. В-третьих, Вам скорее всего придется столкнуться с таможенным оформлением, потратив свои деньги,время и нервы, без гарантий добиться нужного результата. Ну и напоследок, даже если Вы все сделаете верно, нет никакой гарантии, что полностью оплаченный вами товар всё-таки доедет до вас в целости и сохранности.</p>
